.abt-me{
    background-color: white;
    text-align: center;
    margin-top: -22px;
}

.abtme-inner{
    color: #3a3a3a;
    font-family: ProximaNovaT;
    position: relative;
    top: 10px;
}

.more-details{
    font-size: large;
    color: #838283

}

