.skills-main{
    background-color: black;
    height: 600px;
}

.skills{
    text-align: center;
    color: white;
}

.tech-icons{
    display: flex;
    justify-content: space-evenly;
}

.icon-size{
    height: 120px;
}

.react-name{
    margin-left: 35px;
}

.next-name{
    margin-left: 50px;
}

.java-script{
    margin-left: 25px;
}

.redux-name{
    margin-left: 32px;
}

.tech-icons2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.jira-name{
    margin-left: 35px;
}

.icon-size-jira{
    height: 100px;
}

.tech-icons3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}